fastapi
uvicorn
requests
python-multipart
python-dotenv
pydantic
email-validator
pwdlib[argon2]
python-jose
sqlalchemy
pymysql
cryptography
pytest
google-genai
chromadb
openai
torch
transformers
sentence-transformers
accelerate
